.App {
 
  background-image: linear-gradient(rgba(22, 21, 21, 0.601), rgba(39, 37, 37, 0.647)), url("../public/asset/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}