.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    color: white;
}

.home h1 {
    font-size: 60px;
}

.home button {
    padding: 10px 20px;
    background-color: #00AB69;
    border: none;
    font-weight: bold;
    border-radius: 6px;
}